
    {{#if login}}
    {{else}}
    <div class="bar">
        <h1 class="tm_name-bar">Все потоки</h1>
        <div class="top-bar">
            <span class="tm-page"> <a href="#" class="link-page">СТАТЬИ</a></span>
            <span class="tm-page"><a href="#" class="link-page">НОВОСТИ</a></span>
            <span class="tm-page"><a href="#" class="link-page">ХАБЫ</a></span>
            <span class="tm-page"><a href="#" class="link-page">АВТОРЫ</a></span>
            <span class="tm-page"><a href="#" class="link-page">КОМПАНИИ</a></span>
        </div>
    </div>
    {{/if}}
